#bpm_div{
	margin: 15px;
	text-align: center;
}

#title_div{
	margin: 15px;
	text-align: center;
}

#btn_div{
	margin: 15px;
	text-align: center;
}

body{
	height:300px; 
	width:200px;
}

h3{
	margin: 0 auto;
	padding: 0;
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	display: block;
}

h1{
	margin: 0 auto;
	padding: 0;
	font-family: verdana;
	font-size: 20px;
	font-weight: bold;
	display: block;
}