#bpm_div{
	margin: 15px;
	padding: 15px;
	text-align: center;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

#title_div{
	font-family:'Roboto',sans-serif;
	color:#FFFFFF;	
	margin: 15px;
	padding: 15px;
	text-align: center;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	background-color: #28bf8a;
}

#btn_div{
	text-align: center;
}

#leds_div{
	text-align: center;
	margin: 15px;
	padding: 15px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.button{
	/*text editing*/
	font-family:'Roboto',sans-serif;
	text-align:center;
	text-decoration:none;
	color:#FFFFFF;	
	/*button color*/
	background-color: #28bf8a;
	/*button shape*/
	border: none;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
}

span{
	font-family:'Roboto',sans-serif;
	text-align:center;
	text-decoration:none;

	/*button color*/
	background-color: #b6ead4;
	border: none;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;

}

body{
	height:300px; 
	width:200px;
} 

h3{
	margin: 0 auto;
	padding: 0;
	font-family:'Roboto',sans-serif;
	font-size: 10px;
	font-weight: normal;
	display: block;
}

h1{
	margin: 0 auto;
	padding: 0;
	font-family:'Roboto',sans-serif;
	font-size: 20px;
	font-weight: bold;
	display: block;
}